.completed-tasks{
    padding: 24px 28px;
    background-color: var(--surface-0);
    width: 70%;
}

.completed-tasks-header{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 18px;
}

.task-right{
    display: flex;
    gap: 10px;
}

.remove-task{
    width: 8px;
    margin-right: 5px;
    color: var(--text-secondary);
    cursor: pointer;
}

