.authentication-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.auth-body {
    display: flex;
    margin: auto;
    background-color: var(--surface-2);
    flex-direction: column;
    padding: var(--pad-2xl);
    gap: 10px;
    align-items: center;
    border-radius: 12px;
    border: 0.5px solid var(--border-strong);
}

.auth-header {
    position: sticky;
}

.auth-link {
    text-decoration: none;
    color: rgba(14, 1, 53);
}